[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
httpx = "*"
bs4 = "*"
pipfile = "*"
fastapi = {extras = ["standard"], version = "*"}
pyseoanalyzer = {git = "git+https://github.com/sethblack/python-seo-analyzer.git"}

[dev-packages]

[requires]
python_version = "3.12"
